jupyter
markdown-include>=0.6.0
mdx-include>=1.4.1
mdx_truly_sane_lists>=1.2


## API documentation building
mkapi
mkautodoc
mkdocs
mkdocs-autorefs>=0.3.1
mkdocs-awesome-pages-plugin>=2.5.0


## Citations & bibliography
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#citations--bibliography
mkdocs-bibtex>=1.0.0
mkdocs-coverage>=0.2.4
mkdocs-drawio-exporter>=0.8.0
mkdocs-enumerate-headings-plugin>=0.4.5

## Navigation & page building
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#navigation--page-building
mkdocs-exclude>=1.0.2
mkdocs-gen-files>=0.3.3
mkdocs-git-revision-date-plugin>=0.3.1


## Reusing content, snippets & includes
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#reusing-content-snippets--includes
mkdocs-include-markdown-plugin>=3.2.3
mkdocs-jupyter>=0.18.2


## Images, Tables, Charts & Graphs
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#images-tables-charts--graphs
mkdocs-kroki-plugin>=0.2.0


## Git repos and info
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#git-repos--info
mkdocs-macros-plugin>=0.6.0
mkdocs-markdownextradata-plugin>=0.2.4
mkdocs-markdownextradata-plugin>=0.2.4
mkdocs-markmap>=2.1.2
mkdocs-material==8.1.3
mkdocs-material-extensions>=1.0.3


## HTML processing & CSS styling
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#html-processing--css-styling
mkdocs-minify-plugin>=0.4.1


## PDF & site conversion
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#pdf--site-conversion
# https://doc.courtbouillon.org/weasyprint/latest/first_steps.html#linux
mkdocs-pdf-export-plugin>=0.5.9


## Links & references
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#links--references
mkdocs-redirects>=1.0.3
mkdocs-table-reader-plugin>=0.6


## Other
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#other
mkdocs-tooltips>=0.1.0
mkdocs-tooltipster-links-plugin>=0.1.0
mkdocstrings[python]>=0.16.2


## Code execution, variables & templating
#  source: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins#code-execution-variables--templating
pydoc-markdown==4.6.3
pygments
pymdown-extensions>=9.0
